/* globals.css */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  background-color: #141414;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form input {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #e4e4e4;
  color: black;
}

.form button[type="submit"] {
  padding: 0.6rem 1rem;
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.form button[type="submit"]:hover {
  background-color: #b80c15;
}

.form .errorMessage {
  color: #ff0000;
  margin-bottom: 1rem;
}

.loginButton {
  margin-top: 2rem;
  cursor: pointer;
}

.loginButton:hover {
  text-decoration: underline;
}
