/* Search.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}

.subtitle {
  color: #fff;
  margin-bottom: 1rem;
}

.logoutBtn {
  background-color: #e50914;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.logout-btn:hover {
  background-color: #b80c15;
}

.form {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.form label {
  font-weight: bold;
  color: #fff;
  margin-bottom: 0.5rem;
}

.form select {
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #e4e4e4;
  color: black;
}

.charts {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.chart-title {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

.chartContainer {
  background-color: #1c1c1c;
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

.chart-legend {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.chart-legend-item {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.chart-legend-color {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.chart-legend-label {
  color: #fff;
}

.chart-message {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}
