.sideBar {
  position: absolute;
  top: 15%;
  left: 100%;
  transform: translate(-100%, 0);
  width: 10rem;
  height: 15vh;
  background-color: #141414;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sideBar h1 {
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .sideBar {
    top: 0;
    width: 25%;
    height: 40vh;
  }

  .sideBar h1 {
    font-size: 3rem;
  }

  .sideBar button {
    font-size: 1.5rem;
    width: 100%;
    cursor: pointer;
  }
}
